    /* Componentes */


/* Layout */

body  {
    overflow-y: scroll;
}

/* Pages */




.ladding-page-text {
    padding-top: 15vh;
    position: absolute;
    padding-left: 8%;
    width: 100%;
}


.ladding-page-logo {
    width: clamp(240px, 21vw, 420px); /* Mínimo 120px, padrão 11vw, máximo 220px */
    height: auto; /* Mantém a proporção original */
    margin-right: 15vw;
}


.ladding-page-title {
    color: white;
    font-weight: 500;
    position: relative;
    top: -3vh;
    left:2.5%;
    font-size:1.8rem;
    font-family: 'Questrial';
}

.ladding-page-slogan-atrativo {
    padding-top: 7vh;
    color: white;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 0.5;
    font-weight: 600;
}

 


.ladding-page-link {
    margin-right: 5%;
    width: clamp(180px, 20vw, 300px);
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    background: linear-gradient(135deg, rgba(64, 1, 46, 0.73), rgba(157, 157, 166, 0.76));
    padding-left: 1.4%;
    padding-bottom: 1%;
    line-height: 1.2;
    padding-right: 1vw;
}



.ladding-page-video-container {
    width: 100%;
    min-height: 92vh; /* Evita cortes em telas muito pequenas */
    overflow: hidden;
    padding-top: 5vh;
}


#background-video {
    min-width: 100%;
    min-height: 100vh;
    position: fixed;    
}




@media (min-width: 769px) {
    .carousel {
        display: flex;
        color: White;
        font-family: 'Questrial';
        width: 100%;
        margin-top: 10vh;
        transition: 0s;
    }
    .carousel button {
        color: white;
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        top: -1.5vh;
        left: -1%;
        position: relative;
        
    }
    .carousel button:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}





/* Themes */


#pc-close {
    display: none;
}
 #menu-toggle {
    display: none;
 }


.questrial-regular {
    font-family: "Questrial", serif;
    font-weight: 400;
    font-style: normal;
  }
  






  @media (max-width: 768px) {

    body {
        overflow-x: hidden;
        width: 100vw;
        overflow-y: hidden;
    }
    html, body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
    
    header {
        position: fixed;
        overflow: hidden;
        width: 100vw;
        z-index: 99;
    }

    
    
    .ladding-page-text {
        padding-top: 20vh;
        margin: 0px;
        overflow: hidden;
        padding-left: 0%;
        justify-items: center;

    }

    
    .ladding-page-logo {
        width: clamp(140px, 60vw, 420px); /* Mínimo 120px, padrão 11vw, máximo 220px */
        height: auto; /* Mantém a proporção original */
        padding-left: 12%;
    }
    
    #pc-close{
        display: block;
    }


    .ladding-page-title {
        color: white;
        font-weight: 500;
        position: relative;
        top: -2vh;
        left: -5%;
        padding-left: 8%;
        font-size:1.7rem;
        font-family: 'Questrial';
        text-align: center;
    }
    
    #mobile-close {
        display: none;
    }


    .ladding-page-slogan-atrativo {
        padding-top: 7vh;
        width: 80%;
        text-align: center;
        color: white;
        font-size: clamp(1.3rem, 1.5vw, 1.7rem);
        line-height: 1;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
    }
    



    .ladding-page-link {
        color: White;
        font-family: 'Questrial';
        margin-right: 5%;
        width: clamp(200px, 70vw, 270px);
        font-size: clamp(1rem, 1.2vw, 1.2rem);
        background: linear-gradient(135deg, rgba(64, 1, 46, 0.73), rgba(157, 157, 166, 0.76));
        padding-left: 2%;
        padding-bottom: 1%;
        line-height: 1.2;
        padding-right: 2vw;
        margin-bottom: 5vh;
        padding-top: 0.5%;

    }

    .ladding-page-link button {
        color: white;
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: 700;
        top: -1.5vh;
        left: -1%;
        position: relative;
    }

    .ladding-page-link  button:hover {
        text-decoration: underline;
    }

    .carousel-container {
        position: relative;
        width: 100%;
        max-width: 400px;
        overflow: hidden;
        margin: auto;
        left: 0%;
        padding-top: 5vh;
    }

    
    .carousel {
        display: flex;
        transition: transform 0.3s ease-in-out;
        width: 480%;
        padding-left: 12%;
    }

 

    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .carousel-dots {
        text-align: center;
        margin-top: 0px;
    }
    
    .dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 5px;
        background-color: #bbb;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s;
    }
    
    .dot.active {
        background-color: #910936; /* Cor da bolinha ativa */
        width: 14px;
        height: 14px;
    }

    .ladding-page-link button {
        color: white;
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        top: -1.5vh;
        left: -1%;
        position: relative;
    }

    .ladding-page-link button:hover {
        text-decoration: underline;
        cursor: pointer;
    }




    .ladding-page-video-container {
        width: 100%;
        min-height: 400px; /* Evita cortes em telas muito pequenas */
    }
    
    #background-video {
    min-height: 100vh;
    position: fixed;    
}
    #menu-toggle {
        display: flex;
        top: 2vh;
    }

    .carousel .ladding-page-link.blur {
        filter: blur(2px);
        transition: filter 0.3s ease;
    }
    


    
}



@media (max-width: 1050px) and (min-width: 768px){



/* Pages */




.ladding-page-text {
    padding-top: 15vh;
    position: absolute;
    padding-left: 5%;
    width: 100%;
}


.ladding-page-logo {
    width: clamp(200px, 15vw, 420px); /* Mínimo 120px, padrão 11vw, máximo 220px */
    height: auto; /* Mantém a proporção original */
    margin-right: 15vw;
}


.ladding-page-title {
    color: white;
    font-weight: 500;
    position: relative;
    top: -3vh;
    left: 1%;
    font-size:1.5rem;
    font-family: 'Questrial';
}

.ladding-page-slogan-atrativo {
    padding-top: 7vh;
    color: white;
    font-size: 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 0.5;
    font-weight: 600;
}

 


.ladding-page-link {
    margin-right: 5%;
    width: clamp(180px, 25vw, 250px);
    font-size: 0.9rem;
    background: linear-gradient(135deg, rgba(64, 1, 46, 0.73), rgba(157, 157, 166, 0.76));
    padding-left: 1.4%;
    padding-bottom: 1%;
    line-height: 1.2;
    padding-right: 1vw;
}


.ladding-page-video-container {
    width: 100%;
    min-height: 92vh; /* Evita cortes em telas muito pequenas */
    overflow: hidden;
    padding-top: 5vh;
}


#background-video {
    min-width: 100%;
    min-height: 100vh;
    position: fixed;    
}

.carousel button {
    font-size: 0.9rem;
    text-decoration: none;
}

.carousel button:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.95rem;
    transition: 0.2s ease-in-out;
}   


}
