
body {
    align-items: center;
    justify-items: center;
    justify-content: center;
    /* Segunda imagem normal */
    background-image: url(/arts/aboutus-fundo.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: clamp(250px, 50%, 500px);
}

/* Criamos um pseudo-elemento para a primeira imagem */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(250px, 50%, 500px);
    height: clamp(250px, 50%, 500px);
    background-image: url(/arts/aboutus-fundo.png);
    background-size: cover;
    transform: rotate(180deg); /* Rotaciona apenas esse fundo */
    background-position: left top;
}



h1 {
    font-family: 'Questrial', sans-serif;
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-weight: 300;
    color: #910142;
    margin-bottom: 10vh;
}

.solucao img {
    width: 70px;
    height: auto;
    padding-right: 15px;
}

.solucao p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
}


.linha-vertical {
    height: 60px;
    margin-left: 15px;
    margin-right: 20px;
    width: 4px;
    max-width: 2px;
    background-color: rgb(80, 2, 22);
}

.solucao {
    display: flex;
    align-items: center;
    width: 325px;    
    height: 70px;
    padding: 10px 20px 10px 20px;
    border: solid 2px ;
    grid: 15px;
}

.solucoes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas de tamanho igual */
    gap: 15px; /* Espaçamento entre as divs */
    width: clamp(300px, 80%, 750px);
    margin: 0 auto; /* Centraliza o container na página */
    border-left:  solid 5px #910142;
    border-right: solid 5px #910142;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 13px;
}

@media (max-width: 768px){
    .solucoes-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        
    }
    body {
        overflow-y: scroll;
    }

    .solucao {
        display: flex;
        align-items: center;
        width: 250px;    
        height: 70px;
        padding: 10px 20px 10px 20px;
        border: solid 2px ;
        grid: 0px;
    }
    h1 {
        margin-bottom: 5vh;
        margin-top: 5vh;
    }
}