.inicio {
    width: 100%;
    height: 100%;
    background-image: url(/Createc/Createc/arts/servicos-inicio-fundo-pequeno.png), url(/Createc/Createc/arts/servicos-inicio.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: clamp(500px, 38%, 1000px), cover;
    background-position-x: right;
    background-position-y: bottom;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    z-index: -2;
    display: flex;
}

.text-container {
    color: #f4f4f4;
    width: 50vw;
    max-height: 100vh;
}

.rigth-side {
    width: clamp(30px, 30%, 900px);
    max-height: 100vh;
}



p:first-child {
    color: #a6a1a1;
    font-size: 1.3rem;
    letter-spacing: 5px;
}
h1 {
    margin-top: -2%;
    font-size: 2.5rem;
    letter-spacing: 4px;
}

p{
    font-size: 1.2rem;
    width: 65%;
    text-align: justify;
    line-height: 1.8;
}

.inicio-button {
    margin-top: 3%;
    background-color: #600021; /* Cor de fundo principal */
    color: white; /* Cor do texto */
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

.inicio-button::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: black; /* Cor do efeito sombra */
    z-index: -1;
    transition: transform 0.2s ease-in-out;
}

.inicio-button:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

.inicio-button:hover::after {
    transform: scale(1.05);
}

.botao-ir-para-baixo {
    color: white;
    z-index: 5;
    font-size: 2rem;
    position: absolute;
    bottom: 2%;
    text-align: center;
    font-weight: 400;
    animation: bounce 1.5s ease-in-out infinite;
    transform: scaleX(220%) rotate(180deg);
}

@keyframes bounce {
    0% {
        transform: translateY(0) scaleX(220%) rotate(180deg);
    }
    25% {
        transform: translateY(-10px) scaleX(220%) rotate(180deg);
    }
    50% {
        transform: translateY(0) scaleX(220%) rotate(180deg);
    }
    75% {
        transform: translateY(10px) scaleX(220%) rotate(180deg);
    }
    100% {
        transform: translateY(0) scaleX(220%) rotate(180deg);
    }
}


@media (max-width: 1024px) {

    .rigth-side {
        display: none;
    }
    .text-container {
        width: 100%;
        padding-left: 5%;
    }


    .botao-ir-para-baixo {
        color: black;
    }
}

@media (max-width: 768px) {

    p:first-child {
        display: none;
    }

    h1 {
        font-size: 1.5rem;
        margin-left: 4%;
        margin-top: -10%;
    }
    .text-container {
        padding: 2%;
    }
    p {
        width: 90%;
        margin-left: 4%;
        margin-top: 5%;
    }
    .inicio-button {
        margin-top: 5%;
    }
}