/* Componentes */

.mobile-menu {
    display: none;
}

.header-logo {
    width: clamp(180px, 11vw, 220px); /* Mínimo 120px, padrão 11vw, máximo 220px */
    height: auto; /* Mantém a proporção original */
    margin-right: 5%;
}

.header-logo-container {
    width: 20%;
    padding-left: 2vw;
    padding-top: 1.5vh;
}


.header-buttons-container {
    position: relative;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    padding-top: 1.5vh;
}

.underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: black;
    width: 0;
    transition: all 0.3s ease-in-out;
}

.header-buttons {
    font-size: clamp(1.5rem, 1.7vw, 1.7rem);
    margin-right: 5%;
    border: none;
    padding-bottom: 5px;
    margin-top: 1vh;
    position: relative;
    cursor: pointer;
    background-color: #f6f4f4;
}

.header-buttons-container:hover .underline {
    width: var(--width, 0);
    left: var(--left, 0);
}

.header-buttons:hover ~ .underline {
    --width: attr(data-width px);
    --left: attr(data-left px);
}


.header-button-arrow::after {
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid black; /* Cor do triângulo */
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -0.7vh;
    left: -3%;
  }

.header-buttons-container {
    width: 40%;
    text-align: center;
}

.header-orcamento-button {
    font-size: 1.7rem;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #910157;
    padding: 0.5rem 1rem;
    margin: 1.5vh 0 1vh 0;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.header-orcamento-button:hover {
    transform: scale(1.1);
    background-color: #750144;
    cursor: pointer;
}

.header-orcamento-button span {
    display: inline-block;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header-orcamento-button:hover span:first-child {
    opacity: 0;
    transform: translateY(-100%);
}

.header-orcamento-button span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
}

.header-orcamento-button:hover span:last-child {
    opacity: 1;
    transform: translate(-50%, -50%);
}


.header-orcamento-container {
    width: 40vw;
    text-align: end;
    padding-right: 2vw;
}

/* Layout */

html {
    font-size: 16px;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header {
    height: clamp(60px, 8vh, 10%); /* Mínimo 120px, padrão 11vw, máximo 220px */;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    z-index: 10;
    background-color: white;
    border-bottom: solid black 1px;
}

/* Pages */


.ladding-page-text {
    padding-top: 20vh;
    position: absolute;
    padding-left: 8%;
    width: 100%;
}


.ladding-page-logo {
    width: clamp(240px, 21vw, 420px); /* Mínimo 120px, padrão 11vw, máximo 220px */
    height: auto; /* Mantém a proporção original */
    margin-right: 15vw;
}





.ladding-page-title {
    color: white;
    font-weight: 500;
    position: relative;
    top: -3vh;
    left:2.5%;
    font-size:1.8rem;
    font-family: 'Questrial';
}

.ladding-page-slogan-atrativo {
    padding-top: 7vh;
    color: white;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 0.5;
    font-weight: 600;
}

.ladding-page-linkis {
    display: flex;
    color: White;
    font-family: 'Questrial';
    width: 100%;
    margin-top: 10vh;
}
.ladding-page-linkis button {
    color: white;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    font-weight: 700;
    top: -1.5vh;
    left: -1%;
    position: relative;
}
.ladding-page-linkis button:hover {
    cursor: pointer;
}

.ladding-page-link {
    margin-right: 5%;
    width: clamp(180px, 20vw, 300px);
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    background: linear-gradient(135deg, rgba(64, 1, 46, 0.73), rgba(157, 157, 166, 0.76));
    padding-left: 1%;
    padding-bottom: 1%;
    line-height: 1.2;
    padding-right: 1vw;
}


.ladding-page-video-container {
    width: 100%;
    min-height: 500px; /* Evita cortes em telas muito pequenas */
    overflow: hidden;
}


#background-video {
    width: 100%;
    position: fixed;    
}



.pedir-orcamento {
    height: 100vh;
    width: clamp(450px, 25%, 700px);
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Questrial";
    font-size: 1rem;
    align-items: center;
    padding-top: 2%;
}
.fechar-orcamento {
    margin-top: 6%;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 90%;
}
.fechar-orcamento:hover {
    cursor: pointer;
    transform: scale(110%);
}

.pedir-orcamento h1 {
    font-size: clamp(1.5rem, 1.7vw, 1.7rem);
    padding-left: 15%;
    padding-top: 0%;
    padding-bottom: 7%;
    padding-left: 14%;
}

.div-desfoque-do-fundo {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(3, 2, 3, 0.43);
    z-index: 102;
    justify-items: center;
    display: none;
}
@media (min-width: 769px) {
    .carousel {
        display: flex;
        color: White;
        font-family: 'Questrial';
        width: 100%;
        margin-top: 10vh;
        transition: 0s;
    }
    .carousel button {
        color: white;
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: underline;
        font-weight: 700;
        top: -1.5vh;
        left: -1%;
        position: relative;
        
    }
    .carousel button:hover {
        cursor: pointer;
    }
}


.orcamento-input {
    background-color: inherit;
    border-color: #910157;
    border-style: solid;
    font-size: 1rem;
    color: white;
    padding: 5%;
    padding-top: 4%;
    padding-bottom: 3%;
    padding-left: 3%;
    margin-right: 0%;
    border-radius: 1.5vh;
    width: 70%;
    margin-bottom: 4vh;
    margin-left: 4%;
    }

.pedir-orcamento button {
    background: linear-gradient(50deg, #69093d, black, black);
    border: solid, 2px, #69093d;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2%;
    border-radius: 2vh;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20%;
    margin-left: 23%;
}
.pedir-orcamento button:hover {
    cursor: pointer;
    transform:scale(110%);
}
.pedir-orcamento form {
    padding-left: 10%;
}


/* Themes */


#pc-close {
    display: none;
}
 #menu-toggle {
    display: none;
 }


.questrial-regular {
    font-family: "Questrial", serif;
    font-weight: 400;
    font-style: normal;
  }
  





